@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3>SportsPro Technical Support</h3>
    <p>Sports management software for the sports enthusiast</p>
</div>

<div class="text-left">
    <h3>Admin</h3>
    <ul>
        <li>
            Manage Products
        </li>
        <li>
            Manage Technicians
        </li>
        <li>
            Manage Customers
        </li>
        <li>
            Manage Incidents
        </li>
        <li>
            Manage Registrations
        </li>
    </ul>
</div>

<div class="text-left">
    <h3>Technicians</h3>
    <ul>
        <li>
            Update Incidents
        </li>
    </ul>
</div>
