@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customer Manager";
}

<h3>Customer Manager</h3>
<table>
    <thead>
        <tr>Name</tr>
        <tr>Email</tr>
        <tr>City</tr>
        <tr></tr>
        <tr></tr>
    </thead>
    <tbody>
        @foreach(Customer customer in Model)
        {
        <tr>
            <td>@customer.customerFirstName</td>
            <td>@customer.customerLastName</td>
            <td>@customer.customerEmail</td>
            <td>@customer.customerCity</td>
            <td>Temporary Edit</td>
            <td>Temporary Delete</td>
        </tr>
        }
    </tbody>
</table>
